*{
    margin: 0%;
    padding: 0%;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: aquamarine;
    /* display: flex; */
}
div{
    height: 200px;
    width: 200px;
}
    
#Box1{
    background-color: blue;
    border-style: outset ;
    border-width: 5px;
    border-radius: 50%;
}
    
#Box2{
    background-color: rgb(221, 113, 172);
    border-radius: 50%;
}
h1{
    border-style: groove;
    border-width: 5px;
    border-radius: 30px;
}